
.app-wrapper { 
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    /* "m m" */
    /* "n c" */
    "c c"
    "f f";
    grid-template-rows: 90px 0fr 0fr;
    grid-template-columns: 3fr 7fr;
}

.header {
    grid-area: h;
    background-color: rgb(42, 145, 26);
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 150px;
}

/* .menu {
    grid-area: m;
    background-color: gray;
}

.navbar {
    width: 360px;
    grid-area: n;
    margin-top: 15px;
   background-color: cadetblue;
} */

.app-wrapper-content {
    grid-area: c;
    margin-top: 15px;
    background-color: black;
}

.footer {
    grid-area: f;
    background-color: rgb(141, 18, 141);
}


@import url(http://fonts.googleapis.com/css?family=Open+Sans:800);
.text {
  fill: none;
  stroke-width: 3;
  stroke-linejoin: round;
  stroke-dasharray: 70 330;
  stroke-dashoffset: 0;
  -webkit-animation: stroke 6s infinite linear;
  animation: stroke 6s infinite linear;
}
.text:nth-child(5n + 1) {
  stroke: #ec274c;
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  stroke: #e7eb0a;
  -webkit-animation-delay: -2.4s;
  animation-delay: -2.4s;
}
.text:nth-child(5n + 3) {
  stroke: #E9F1DF;
  -webkit-animation-delay: -3.6s;
  animation-delay: -3.6s;
}
.text:nth-child(5n + 4) {
  stroke: #5abcd4;
  -webkit-animation-delay: -4.8s;
  animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
  stroke: #27157a;
  -webkit-animation-delay: -6s;
  animation-delay: -6s;
}

@-webkit-keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}
@keyframes stroke {
  100% {
    stroke-dashoffset: -400;
  }
}

.app-wrapper-content {
    background: #111;
    background-size: .2em 100%;
    font: 5em/1 Open Sans, Impact;
    text-transform: uppercase;
    margin: 0;
  }
  
.container{
    background-color: white;
    width: 98%;
    display: flex; 
    padding: 0 20px;
  }

  .slide {
     height: 48vh;
     border-radius: 20px;
     margin: 12px;
     cursor: pointer;
     color: rgb(201, 9, 9);
     flex: 1;
     background-size: cover;
     background-position: center;
     background-repeat: no-repeat;
     position: relative;
     transition: all 500ms ease-in-out;
    }
  
    .slide h3 {
     position: absolute;
     font-size: 24px;
     bottom: 20px;
     left: 20px;
     margin: 0;
     opacity: 0;
    }
  
    .slide.active {
      flex: 10;  
    }

    .slide.active h3 {
      opacity: 1;
      transition: opacity 0.3s ease-in 0.4s;  
    }

    
    .container__a {
      height: 100vh;
      width: 100vw;
      background: #18191f;
    }
    .container__networks {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      width: 100vw;
    }
    #apple,
    #twitter,
    #github,
    #facebook {
      font-size: 8em;
      background-color: #18191f;
      color: #fff;
      box-shadow: 2px 2px 2px #00000080, 10px 1px 12px #00000080,
        2px 2px 10px #00000080, 2px 2px 3px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080, inset 2px 2px 10px #00000080,
        inset 2px 2px 10px #00000080;
      border-radius: 29px;
      padding: 11px 19px;
      margin: 0 40px;
      animation: animate 3s linear infinite;
      text-shadow: 0 0 50px #0072ff, 0 0 100px #0072ff, 0 0 150px #0072ff,
        0 0 200px #0072ff;
    }
    #twitter {
      animation-delay: 0.3s;
    }
    #facebook {
      animation-delay: 0.7s;
    }
    #github {
      animation-delay: 0.1s;
    }
    
    @keyframes animate {
      from {
        filter: hue-rotate(0deg);
      }
      to {
        filter: hue-rotate(360deg);
      }
    }
    