.app-wrapper { 
    display: grid;
    width: 1200px;
    margin: 0 auto;
    grid-template-areas:
    "h h"
    /* "m m" */
    /* "n c" */
    "c c"
    "f f";
    grid-template-rows: 90px 0fr 0fr;
    grid-template-columns: 3fr 7fr;
}

.header {
    grid-area: h;
    background-color: rgb(42, 145, 26);
    display: flex;
    justify-content: space-between;
}

.header img {
    width: 150px;
}

/* .menu {
    grid-area: m;
    background-color: gray;
}

.navbar {
    width: 360px;
    grid-area: n;
    margin-top: 15px;
   background-color: cadetblue;
} */

.app-wrapper-content {
    grid-area: c;
    margin-top: 15px;
    background-color: rgb(130, 118, 208);
}

.footer {
    grid-area: f;
    background-color: rgb(141, 18, 141);
}